.resources {
  padding: 50px 0;
  color: #ffffff; /* White text color */
  font-family: Arial, sans-serif;
}

.resources a:any-link {
  all: unset;
  color: white;
  text-decoration: none;
}

.resources .resources-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.resources .resources-heading p {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.resources .resources-links {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  grid-column-gap: 40px;
  grid-row-gap: 20px;
  list-style: none;
  margin: 50px auto 0 auto;
}

.resources .resources-link-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 20px;
}

.resources .resources-link-item a {
  color: #ffffff;
  text-decoration: none;
}

.resources .resources-link-item a:hover {
  text-decoration: underline;
}

.resources .arrow-icon {
  margin-right: 10px;
  width: 20px; /* Adjust size as needed */
  height: 16px;
}

.resources .resources-links::before {
  content: "";
  flex: 1;
  border-bottom: 1px solid #eedc82; /* Light line above and below the links */
  margin: 0 10px;
  align-self: center;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
}

.resources.heading-left .resources-row {
  justify-content: left;
  margin-left: 50px;
}

.resources.heading-left .resources-links::before {
  left: 35%;
}

.resources.heading-left.links-center .resources-links::before {
  left: 35%;
  width: 90%;
}

.resources.heading-left.links-left .resources-links::before {
  left: 25%;
  width: 70%;
}

.resources.links-left .resources-links {
  justify-content: left;
}

.resources.font-black p,
.resources.font-black a {
  color: black;
}

.resources.font-white p,
.resources.font-white a {
  color: white;
}
