.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

.columns.center-aligned > div:has(h1, h2, h3, h4, h5, h6, p) {
  text-align: center;
}

.columns.img-col-half > div > div:not(.columns-img-col) {
  flex: 2;
}

.columns.img-col-double .columns-img-col {
  flex: 2;
}

.columns.img-small img {
  max-width: 50%;
  max-height: 50%;
}

.columns.img-medium img {
  max-width: 75%;
  max-height: 75%;
}

.columns.text-small p,
.columns.text-small a {
  font-size: 18px;
}

.columns.text-large p,
.columns.text-large a {
  font-size: 24px;
}

